
  @media only screen and (max-width: 900px) {
    .nom
    {
     text-align: center;
     padding-top: 15px;
    }
    .txt{
      text-align: center;
      margin: auto;
      padding-left: 10px;
    }
    .nomb{
      text-align: center;
     padding-bottom: 15px;
    }
    .txtb{
      text-align: center;
      margin: auto;
      padding-bottom: 10px;
      margin: auto;
          width: auto;
    }
      }


      @media only screen and (max-width: 1200px) {
        .nom
        {
         margin :auto;
         padding-top: 15px;
        }
        .txt{
          text-align: center;
          margin: auto;
          width: auto;
          padding-left: 10px;
        }
        .nomb{
          text-align: center;
         padding-bottom: 15px;
        }
        .txtb{
          text-align: center;
          margin: auto;
          padding-bottom: 10px;
        }
          }